{% load static %}
{% include 'components/navbar.html' %}

<section class="max-w-7xl mx-auto px-6 py-20 text-white">
  <h1 class="sm:text-5xl text-4xl  font-bold mb-12 tracking-[3px] text-center leading-snug">
    Tembel Zihinler Değil <br>
    <span class="text-main">Güçlü Fikirler</span> Yarat!
  </h1>

  <p class="max-w-3xl mx-auto text-center font-light text-lg leading-relaxed mb-16 px-4 text-justify">
    3 egzersizimizle hafıza, yaratıcılık, eleştirel düşünme ve stratejik düşünme gibi alanları
    geliştirebilirsin. Aşağıdaki egzersizlerden birini seçerek çalışmaya hemen başlayabilirsin.
  </p>

<div class="grid gap-16 md:grid-cols-3 px-4">
  <!-- kutu 1 -->
  <div class="relative rounded-3xl border border-white/10 p-8 text-justify transition-transform duration-300 hover:shadow-lg cursor-pointer bg-gradient-to-t from-[#082624] to-[#ffffff]/5">
    <h4 class="font-semibold mb-6 text-center text-2xl tracking-wide text-main">Problem Zinciri</h4>
    <p class="text-lg font-light text-gray-300 leading-relaxed mb-6">
      Problem Zinciri, eleştirel düşünme ve yaratıcı problem çözme becerilerini geliştiren interaktif bir beyin egzersizidir; yapay zekayla 
      birlikte 5 tur süren problem‑çözüm zincirleri kurarsınız. Süreç şöyle işler: Yapay zeka size ilginç bir problem sunar, siz yaratıcı 
      bir çözüm önerirsiniz, çözümünüz yeni bir problem doğurur ve bu döngü beş tur boyunca tekrar eder.
    </p>
    <a href="{% url 'ai:problem_chain_test' %}" 
      class="block mx-auto bg-main text-black font-semibold rounded-full px-8 py-3 hover:bg-second hover:text-white transition w-52 text-center">
      Egzersize Başla
    </a>
  </div>

  <!-- kutu 2 -->
  <div class="relative rounded-3xl border border-white/10 p-8 text-justify transition-transform duration-300 hover:shadow-lg cursor-pointer bg-gradient-to-t from-[#082624] to-[#ffffff]/5">
    <h4 class="font-semibold mb-6 text-center text-2xl tracking-wide text-main">Kelime Köprüsü</h4>
    <p class="text-lg font-light text-gray-300 leading-relaxed mb-6">
     Kelime Köprüsü, dikkat ve problem çözme becerilerini hedefleyen yaratıcı bir kelime oyunudur; iki alakasız kelime arasında mantıklı 
     çağrışım zincirleri kurarak beyin bağlantılarınızı güçlendirirsiniz. Süreç şöyle işler: hedef ve başlangıç kelimesi verilir, başlangıç 
     kelimesini seçersiniz, ara kelimelerle bağlantı kurarsınız ve en fazla altı adımda hedefe ulaşmaya çalışırsınız.
    </p>
    <a href="{% url 'ai:word_bridge_test' %}" 
      class="block mx-auto bg-main text-black font-semibold rounded-full px-8 py-3 hover:bg-second hover:text-white transition w-52 text-center">
      Egzersize Başla
    </a>
  </div>

  <!-- kutu 3 -->
  <div class="relative rounded-3xl border border-white/10 p-8 text-justify transition-transform duration-300 hover:shadow-lg cursor-pointer bg-gradient-to-t from-[#082624] to-[#ffffff]/5">
    <h4 class="font-semibold mb-6 text-center text-2xl tracking-wide text-main">Hafıza ve Sentez</h4>
    <p class="text-lg font-light text-gray-300 leading-relaxed mb-6">
      Hafıza ve Sentez, hafıza ile dil becerilerinizi hedefleyen bir öğrenme deneyimidir; metinleri okuyup hatırlamanız ve kendi 
      cümlelerinizle yeniden ifade etmeniz istenir. Süreç şu şekilde ilerler: seviyeyi belirlersiniz, üç konu arasından seçim yaparsınız, 
      60 saniye boyunca verilen metni okursunuz, ardından metni kendi cümlelerinizle yazarsınız.
    </p>
    <a href="{% url 'ai:memory_test' %}" 
      class="block mx-auto bg-main text-black font-semibold rounded-full px-8 py-3 hover:bg-second hover:text-white transition w-52 text-center">
      Egzersize Başla
    </a>
  </div>
</div>

</section>


    <!-- Footer -->
    {% include 'components/footer.html' %}

  </body>
</html>
