{% load static %}

    <footer class="border-t border-gray-800 py-20">
      <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-3 gap-8 text-lg text-gray-400">
        <div>
          <h4 class="text-white font-semibold mb-4">SynAppse</h4>
          <p>Beyin gücünü artır, zihinsel potansiyelini keşfet.</p>
        </div>
        <div>
          <h4 class="text-white font-semibold mb-4">Linkler</h4>
          <ul class="space-y-2">
            <li><a href="#" class="hover:text-main">Ana Sayfa</a></li>
            <li><a href="#" class="hover:text-main">Egzersizler</a></li>
            <li><a href="#" class="hover:text-main">İletişim</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-white font-semibold mb-4">Destek</h4>
          <ul class="space-y-2">
            <li><a href="#" class="hover:text-main">SSS</a></li>
            <li><a href="#" class="hover:text-main">Gizlilik</a></li>
            <li><a href="#" class="hover:text-main">Kullanım Şartları</a></li>
          </ul>
        </div>
      </div>
      <div class="mt-8 text-center text-md text-gray-500">
        © 2025 SynAppse. Tüm hakları saklıdır.
      </div>
    </footer>